$task-item-text: rgb(117, 116, 119);
$task-item-background: linear-gradient(to right, #ececec, #f6f6f6);

.taskItem, 
.taskItemDone {
  padding: 7px;
  margin: 18px auto;
  width: 100%;
  min-height: 38px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $task-item-text;
  font-size: 1rem;
  border-radius: 2px;
  background: $task-item-background;
  cursor: pointer;
};

.taskItemDone {
  text-decoration: line-through; 
}

.taskItemContainer {
  padding: 0;
}