$task-item-text: rgb(117, 116, 119);
$task-item-background: linear-gradient(to right, #ececec, #f6f6f6);
$high-priority: red;
$medium-priority: orange;
$low-priority: green;
$delete-button: #f6f6f6;

.task-item, 
.task-item-done {
  padding: 7px;
  margin: 18px auto;
  width: 100%;
  min-height: 38px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $task-item-text;
  font-size: 1rem;
  border-radius: 2px;
  background: $task-item-background;
  cursor: pointer;   
};

.task-item-done {
  text-decoration: line-through; 
}

.task-item-container {
  padding: 0;
}

.High {
  border-left: 2px solid $high-priority;
}

.Medium {
  border-left: 2px solid $medium-priority;
}

.Low {
  border-left: 2px solid $low-priority;
}

.delete-button,
.delete-button:hover,
.delete-button:link,
.delete-button:focus,
.delete-button:active {
  background: $delete-button;
  border: none;
  outline: none;
  margin: -10px 0;
}

.delete-button {
  transform: scale(0.9);
  color: $delete-button;
}

.delete-button:hover {
  transform: scale(1.5);
  transition: transform 150ms ease;
}
