$task-column-color: rgb(255, 255, 255);

.tasks-column {
  overflow: hidden;
  padding: 20px 0;
  height: 550px;
  background: $task-column-color;

  &-todo-title,
  &-in-progress-title,
  &-done-title,
  &-invalid-title {
    text-align: center;
    font-size: 1.8rem;
    user-select: none;
    margin: auto 23px;
    padding-bottom: 0.4rem;
  }
}

.tasks-column-todo-title {
  color: #67666a;
  border-bottom: 3px solid #67666a;
}

.tasks-column-in-progress-title {
  color: #76b7c0;
  border-bottom: 3px solid #749a9f;
}

.tasks-column-done-title {
  color: #c2695f;
  border-bottom: 3px solid #bf867b;
}

.tasks-column-invalid-title {
  color: #4e1aeb;
  border-bottom: 3px solid #4e1aeb;
}

.task-items-container {
  flex: 0 1 auto;
  overflow-y: auto;
  padding: 0px;
  width: 100%;
  max-height: 460px;
  text-align: center;
}

.loader svg {
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}
