.inputicon{
  width: 1.7rem;
}

#Capa_1 {
  fill: none;
  pointer-events: all;
}

#Capa_1:hover {
  fill: #fff !important;
}

.btn-outline-primary:hover {
  background-color: #74aeb0;
  border-color: #74aeb0;
}

.btn-outline-primary {
  border-color: #74aeb0;
}