.modal{
  padding: 0;
}
.main-modal-for-taskN{
  font-family: sans-serif;
  font-size: 1.3rem;
  color: rgb(103, 102, 106);
}
.main-modal-for-taskD{
  font-family: sans-serif;
  font-size: 1rem;
  color: rgb(103, 102, 106);
}
.delete-task-details-button{
  max-width: 100px;
  margin: 5px 5px 5px 77%;
}
.button-save-task-details{
  margin: 5px;
}
.task-details-container{
  padding: 10px;
  min-height: 30px;
  margin: 10px;
  background-color: rgba(108, 117, 125, 0.07);
  border-radius: 3px;
}
.task-details-container{
  &:hover {
    cursor: pointer;
    background-color: rgba(108, 117, 125, 0.22);
  }
}
.description-container{
  min-height: 60px;
}

.dropdown-priority-container{
  color: rgba(0, 0, 0, 0.72);
}
.dropdown-container{
  margin: 2px;
}

.delete-modal-window{
  background-color: rgba(1, 1, 1, 0.6);
}
.High {
  &, &:hover, &:link, &:focus, &:active {
    background-color: red !important;
    }
  }

.Medium {
  &, &:hover, &:link, &:focus, &:active {
    background-color: orange !important;
  }
}
.Low {
  &, &:hover, &:link, &:focus, &:active {
    background-color: green !important;
  }
}

.cancel-button {
  &, &:hover, &:link, &:focus, &:active {
    background: none !important;
    border: none;
    outline: none;
    margin: -10px 0;
    box-shadow: none !important;
  }
}
.close-task-button {
  &:hover, &:link, &:focus, &:active {
    color: black;
  }
}

