.card {
  width: 18rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.card-title {
  color: #74aeb1;
  text-transform: uppercase;
  font-size: 2rem;
}

.wallpaper {
  width: 50%;
}

.card-text {
  padding-top: 1rem;
}

.open-btn {
  margin-right: 10px;
}

.delete-btn {
  margin-left: 10px;
}
