.btn{
    &.btn-no-outline{
        &:focus,
        &:active {
            outline: none !important;
            box-shadow: none !important;
        }
    }

    &-custom-light{
        &:active,
        &.active {
            background-color: #d8d9da !important;
            border-color: #d8d9da !important;
        }
    }
}

.dropdown-item{
    &.dont-highlight{
        &:active {
            background-color: #f8f9fa;
        }
    }
}

img.icon{
    height: 1.5em;
}


.dropdown-pull-up{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}
.dropdown-pull-up{
    position: absolute;
    top: 1rem;
    right: 1.5rem;

    .dropdown-menu{
        top: -1.5rem !important;
        left: 0.75rem !important;
    }
}
