.lod-container {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 10px;
  min-height: 0 !important;
  min-width: 0 !important;
  background-color: #f7f7f7;
}